{{> header }}
{{> navbar }}

<div class="row">

<div class="col-4" style="text-align: center;">
    <h1>Aplicación Ejercicio NodeJS</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum minima mollitia, quasi animi deleniti, earum doloribus beatae incidunt nulla vero reprehenderit 
    harum dicta ipsum modi eaque officiis expedita porro impedit!
</div>

<div class="col-4" style="text-align: center;">
    <img src="assets/imagenes/trunks.jpg" class="img-thumbnail">
</div>

</div>

{{> footer }}